{"filter":false,"title":".gitignore","tooltip":"/mynews/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":13,"column":21},"end":{"row":13,"column":21},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":27,"mode":"ace/mode/ini"}},"timestamp":1572779392882,"hash":"ed2ee073bf664edd0b820b5ca0dbfb552dde940b"}